<!DOCTYPE html>
<html>
<head>
    <title>Configuração de VLANs</title>
</head>
<body>
    <h1>Configurar VLANs</h1>

    <form action="/aplicar" method="POST">
        <label>VLAN 10:</label>
        <input name="vlan10" value="10"><br><br>

        <label>VLAN 20:</label>
        <input name="vlan20" value="20"><br><br>

        <label>VLAN 50:</label>
        <input name="vlan50" value="50"><br><br>

        <label>Hostname:</label>
        <input name="hostname" value="SWITCH_AUTOMATIZADO"><br><br>

        <button type="submit">Aplicar Configuração</button>
    </form>
</body>
</html>
